.multistepform{
    text-align: center;
    width: 50%;
    align-content: center;
    margin: 5rem auto;
}

.dataforms{
    margin-top:60px;
   }
   .subheading{
    font-family: 'Inter', sans-serif;
       color: #a9a9a9;
        text-align: center;
         font-size: 15px;
         font-weight: 500;
   }
   .inputfield{
       width: 60%;
   }
   .form{
   margin-top: 50px;
   }

   .card{
       width: 28%;
       border-radius: 5px;
       text-align: left;
       margin: auto 5px ;
       display: inline-block;
   }
   .cardtitle{
      font-weight: 700;
   }
   .cardcontent{
       font-size: 14px;
       color: #a9a9a9;
   }
   @media (max-width: 600px) {
    .inputfield{
        width: 100%;
    }
    .card {
      width: 90%;
      border-radius: 5px;
      text-align: left;
      margin: auto 5px;
  }
  .subheading{
    color: #a9a9a9;
     text-align: center;
      font-size: 12px;
      font-weight: 500;
}
  }