.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  margin-bottom: .5rem;
}
h5.MuiTypography-root {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text{
width:60%;
background-color:#3f51b5; 
color:white; 
padding:10px;
text-transform: none;
}
svg.MuiSvgIcon-root {
  color: #3f51b5;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px){
  button.MuiButtonBase-root.MuiButton-root.MuiButton-text{
    width:100%;
    background-color:#3f51b5; 
    color:white; 
    padding:10px;
    text-transform: none;
    }
    h5.MuiTypography-root {
      font-family: sans-serif;
      font-weight: 600;
      font-size: 18px;
    }
}